.grid-container-1{
  border: 2px blue solid;
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: center;
  @include breakpoint (min-width $tablet-portrait){
    grid-template-columns: auto auto auto 20%;
    justify-content: end;
  }
}
.grid-item-1-1 a{
  color: white;
}
.grid-container-1 li{
  margin: 2px;
}
.grid-item-1-1{
  grid-column: 2 / span 2;
  @include breakpoint (min-width $tablet-portrait){
    grid-column: 3 /span 2;
  }
}

.grid-container-2{
  border: 2px red solid;
  display: grid;
  grid-template-columns: auto 20% auto;
  align-content: center;
  @include breakpoint (min-width $tablet-portrait){
    justify-content: space-between;
  }
}
.grid-item-1-2{
  justify-self: center;
  margin: 5px;
}
.grid-item-2-2{
  
}
.grid-item-3-2{
  justify-self: center;
margin: 5px;
  a{
   
    color: white;
  }
  
}

.footer-top{
  background-color: $grey;
  color: white;
}

.footer-bottom{
  //display: grid;
  //grid-template-columns:  50px auto 50px;
  
  background-color: $grey-dark;
  color: white;
}
.footer-bottom-left{
  //border: 3px solid greenyellow;
  padding:0px;
}
.footer-bottom-center{
  //border: 1px solid blue;
  width:80%;
  padding: 0px;
}
.footer-bottom-right{
  //border: 1px solid red;
  text-align: right;
  padding: 0px;
}