.profile-container {
  
  background-color: $grey-light;
  #profile-header{
    
  }
 
}
#profile{
  
  width: 100%;
  margin-top: 2.3rem;
  padding-top: 2.4rem;
  @include breakpoint ($tablet-portrait) {
    width: 90%;
    margin-top: 5rem;
  }
  @include breakpoint ($desktop){
    
  }
}
.profile-header{
  padding-top: 2rem;
  padding-left: 7rem;
}

.profile-text-section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background-color: $grey-light;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-indent: 1.5rem;
  .video {
    font-family: $font-primary;
    iframe{
    padding-left: 0;
    width: 250px;
    height: auto;
    }
    #profile-p-1{
      p{
        padding-top: 0;
      }
    }
    #profile-p-2{
      padding-top: 0;
    }
  }
  @include breakpoint($tablet-portrait) {
    .video{

     
   
      justify-self: center;
      
      iframe{
        display: block;
        margin-left: auto;
        margin-right: auto ;
        width: 400px;
        height: 280px;
      }
    }
    #profile-p-1{

    }
  }
  @include breakpoint($desktop) {
    grid-template-columns: auto 50%;
    padding-top: 2rem;
    line-height: 1.4rem;
    iframe {
      width: 400px;
      height: 300px;
      padding-left: 1rem;
      
    }
    
    #profile-p-1{
      padding-left: 2rem;
      p{
      padding-top: 0;
      padding-left: 2rem;
      padding-bottom: 0;
      column-count: 1;
      }
    }
    div#profile-p-2{
      padding-left: 2rem;
      padding-top: 0;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2
    }
  }
}

