.team-section{

  background-color: white;

}
.header-team{
  padding-left: 7.1rem;
}
.profile-cards-section{
  width: 100%;
  padding: 2rem 0 2rem 5rem;
  display: grid;
  grid-template-columns: 4rem 1fr 1fr 1fr;

  background-color: white;

}

.card{
  width: 14rem;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.425);
  .card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 14rem;
  }
  .card-title{
    font-family: $font-primary;
    text-align: center;
    padding-top: 5px;
  }
   .card-text{
    font-family: $font-primary;
    padding: 10px;
  }

}

.card-social{
  padding-right: 15px;
  padding-bottom: 15px;
  text-align: right;
  .btn{
    color: $asphalt-black;
    padding: 2px;
    &:hover{
      color:$red-primary;
    }
  }
}