[LaminSanneh\FlexiContact\Components\ContactForm contactForm]
injectBootstrapAssets = 0
injectMainScript = 1
==

<div class="contact-container">
    <div class="block-header">
    
        <h1>
          <img class="header-element" src="{{'assets/images/header-element.svg'|theme}}">Contact Us</h1>
        <br>
        <h2>Qtec can supply you with a AFFF Fire Suppression System to suit any size machine in the industry.</h2>
      </div>
<div class="contact-content">
    <div class="contact-form">
      {% component 'contactForm' %}
    </div>
    <div class="contact-text-section">
      <img src="{{'assets/images/brand-cars.jpg'|theme}}" alt="" sizes="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quod optio aut eius ullam, laboriosam, sunt, officia molestiae blanditiis iure harum doloribus pariatur recusandae nam est magnam distinctio possimus. Incidunt reprehenderit mollitia ad deserunt odio quo cupiditate iure cum ducimus tenetur, ut amet illo magni veritatis fugit laborum! </p>
    </div>
</div>
</div>