[LaminSanneh\FlexiContact\Components\ContactForm contactForm]
injectBootstrapAssets = 0
injectMainScript = 1
==

<div id="contact" class="contact-container">
    <div class="block-header">
    
        <h1>
          <img class="header-element" src="{{'assets/images/header-element.svg'|theme}}">Contact Us</h1>
        <br>
        <h2>Have a query? Send us a message!</h2>
      </div>
<div class="contact-content">
    <div class="contact-form">
      {% component 'contactForm' %}
    </div>
    <div class="contact-text-section">
      <img src="{{'assets/images/brand-cars.jpg'|theme}}" alt="" sizes="" srcset="">
      <p>We aim to respond to your mail within a working day. If we havent responded feel free to call one of the team members on the numbers listed in the team section above. </p>
    </div>
</div>
</div>