
<div class="footer-main">
<div class="footer-top grid-container-1">
  <ul class="grid-item-1-1">
    <li><a href="#service">Our Services</a></li>
    <li><a href="#profile">About Us</a></li>
    <li><a href="#contact">Contact Form</a></li>
  </ul>
</div>

<div class="footer-bottom grid-container-2">
 <div class="grid-item-1-2">
  &copy; Qtec NZ , Design by D and A
</div>
<div class="grid-item-2-2"></div>
 <div class="grid-item-3-2">
   <a href=""><i class="fab fa-facebook-square"></i></a>
   <a href=""><i class="fab fa-twitter-square"></i></a>
   <a href=""><i class="fab fa-instagram"></i></a>
 </div>
</div>
</div>
