
<div class="footer-main">
<div class="footer-top">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque magnam repellendus doloremque nemo aspernatur adipisci labore necessitatibus asperiores sequi quasi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet assumenda, facere facilis ut corporis commodi minima officiis similique magni nobis voluptates, asperiores sint consequatur distinctio. Incidunt distinctio ratione eligendi sequi.</p>
</div>

<div class="footer-bottom">
 <div class="footer-bottom-left">
  <p> &copy D and A</p>
</div>
<div class="footer-bottom-center"></div>
 <div class="footer-bottom-right">
   <a href=""><i>F</i></a>
   <a href=""><i>T</i></a>
   <a href=""><i>I</i></a>
 </div>
</div>
</div>
