<div  style="margin-top: 5rem;">

    <div class="block-header" >

        <h1>
            <img class="header-element" src="{{'assets/images/header-element.svg'|theme}}">Company Profile</h1>
        <br>
        <h2>Qtec Fire Services New Zealand is the New Zealand owned distributor for Qtec Fire Suppression Systems made in Australia.</h2>
    </div>
    <div class="profile-text-section">
        <div></div>
        <p>
             We stock parts for all the major brands in our Christchurch warehouse. We have two full time staff and five contractors fully trained and certified for fire suppression systems. Our full time staff complete all service work and most installs. We use contractors for urgent break downs and installs when needed. We cover the whole country based from Christchurch and Hamilton in our fully mine site compliant vehicles. Qtec Fire Services NZ became a standalone fire service company 4 years ago to provide a complete service package to its customers.
        </p>
        <p>
            Scott, the owner/operator of Qtec Fire Services NZ has been involved in the mining industry for 18 years, starting as an owner operator for Hydraulink Fluid Connectors. During this time he has serviced Rotowaro coal mine for hydraulics, auto lubrication, extinguishers and fire suppression. He is qualified to design, install and service most types of fire suppression including Dry Powder, Gas Flood and Foam. He also holds NZQA accreditation for hand held firefighting equipment.
        </p>
        <div></div>
    </div>
</div>
