<div>

    <div class="block-header" id="profile-header">

        <h1>
            <img class="header-element" src="{{'assets/images/header-element.svg'|theme}}">Company Profile</h1>
        <br>
        <h2>Qtec can supply you with a AFFF Fire Suppression System to suit any size machine in the industry.</h2>
    </div>
    <div class="profile-text-section">
        <div></div>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur alias, repellat inventore id sint vero repellendus! Quaerat
            ipsa consequatur consectetur quos laudantium obcaecati? Facilis dolores dolor ut exercitationem natus vel repudiandae
            debitis autem quasi temporibus deserunt, dicta recusandae alias accusamus itaque blanditiis corrupti minima reiciendis
            perferendis ea vero suscipit id officia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur alias,
            repellat inventore id sint vero repellendus! Quaerat ipsa consequatur consectetur quos laudantium obcaecati?
            Facilis dolores dolor ut exercitationem natus vel repudiandae debitis autem quasi temporibus deserunt, dicta
            recusandae alias accusamus itaque blanditiis corrupti minima reiciendis perferendis ea vero suscipit id officia.
        </p>
        <div></div>
    </div>
</div>
