<div class="services-container" id="services">
  <div class="block-header">
    <h1>
      <img class="header-element" src="{{'assets/images/header-element.svg'|theme}}">Our Services
    </h1>
    <br>
    <h2>Qtec can supply you with a AFFF Fire Suppression System to suit any size machine in the industry.</h2>
  </div>
  <div class="services-middle">
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ex nemo labore officia doloremque expedita corporis, adipisci dolor corrupti esse sunt sint porro iure ipsum assumenda omnis earum perferendis incidunt consequatur error maiores explicabo fugit. Ab quo voluptatibus maxime doloremque! Quo, architecto. Quo eligendi et eius cupiditate recusandae? Nulla maiores praesentium asperiores molestias placeat, quo, unde quisquam consectetur fugiat facere quas repellendus eveniet ex, optio dolorum quibusdam. Laborum minus deserunt id fugit provident nihil animi illum consequuntur perspiciatis ad doloremque sit eius ab libero, ea facere?</p>

  </div>
  <div class="services-footer">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum unde eligendi veniam amet rerum tenetur debitis qui voluptatibus, minus obcaecati!
  </div>
</div>
