<div class="services-container" id="services">
  <div class="block-header">
    <h1>
      <img class="header-element" src="{{'assets/images/header-element.svg'|theme}}">Our Services
    </h1>
    <br>
    <h2>Qtec can supply you with a AFFF Fire Suppression System to suit any size machine in the industry.</h2>
  </div>
  <div class="services-content">
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ex nemo labore officia doloremque expedita corporis, adipisci dolor corrupti esse sunt sint porro iure ipsum assumenda omnis earum perferendis incidunt consequatur error maiores explicabo fugit.</p>

<div class='service-card-container'>
    <div class="card service-card">

        <div class="card-body">
            <h4 class="card-title">Construction</h4>
            <p class="card-text">Qtec can supply you with a VDAS AFFF Fire Suppression System to suit any size machine in the construction industry.</p>

        </div>
        <img class="card-img-bottom" src="{{'assets/images/construction.jpg'|theme}}" alt="Card image">
    </div>
    <div class="card service-card">

        <div class="card-body">
            <h4 class="card-title">Mining</h4>
            <p class="card-text">Qtec have been supplying Fire Suppression Systems to the mining industry for over 15 years. Our experience has led to many mining operations using our extensive range of products.</p>

        </div>
        <img class="card-img-bottom" src="{{'assets/images/mining.jpg'|theme}}" alt="Card image">
    </div>
    <div class="card service-card">

        <div class="card-body">
            <h4 class="card-title">Transportation</h4>
            <p class="card-text">The transport industry covers a diverse range of equipment. From buses, forklifts and materials handling equipment to large prime movers. Qtec has a Fire Suppression System for all these products.</p>

        </div>
        <img class="card-img-bottom" src="{{'assets/images/transportation.jpg'|theme}}" alt="Card image">
    </div>
    <div class="card service-card">

        <div class="card-body">
            <h4 class="card-title">Forestry</h4>
            <p class="card-text">The rigors of forestry place a high demand on equipment. Qtec can supply a range of FIre Suppression Systems to meet these demands to all ypes of forestry equipment.</p>

        </div>
        <img class="card-img-bottom" src="{{'assets/images/forestry.jpg'|theme}}" alt="Card image">
    </div>
</div>

    
  </div>
</div>
