<div class="team-section">
    <div class="header-team">
        <h1><p>Our Team</p></h1>
    </div>
    <div>
        <p>
            Our friendly team are always ready to help with all your Fire Suppression System needs.
        </p>
    </div>
<div class="cards-container">
    
    <div class="profile-cards-section">            
        <div class="card team-card">
            <img class="card-img-top" src="https://www.w3schools.com/howto/img_avatar.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Scott Pilkington</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-social">
                    <a class="btn" href="mailto:someone@yoursite.com?subject=Mail from Our Site">
                        <i class="fas fa-envelope-square fa-2x"></i>
                    </a>
                    <a class="btn">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a class="btn">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card team-card">
            <img class="card-img-top" src="https://www.w3schools.com/howto/img_avatar.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Paul Taylor</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-social">
                    <a class="btn" href="mailto:someone@yoursite.com?subject=Mail from Our Site">
                        <i class="fas fa-envelope-square fa-2x"></i>
                    </a>
                    <a class="btn">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a class="btn">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card team-card">
            <img class="card-img-top" src="https://www.w3schools.com/howto/img_avatar.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Name Surname</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-social">
                    <a class="btn" href="mailto:someone@yoursite.com?subject=Mail from Our Site">
                        <i class="fas fa-envelope-square fa-2x"></i>
                    </a>
                    <a class="btn">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a class="btn">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>