<div class="team-section" id="team">
    <div class="block-header" >

        <h1>
            <img class="header-element" src="{{'assets/images/header-element.svg'|theme}}">Our Team</h1>
        <br>
        <h2></h2>
    </div>
    <div>
        <p>
            Our friendly team are always ready to help with all your Fire Suppression System needs.
        </p>
    </div>
<div class="cards-container">
    
    <div class="profile-cards-section">            
        <div class="card team-card">
            <img class="card-img-top" src="https://www.w3schools.com/howto/img_avatar.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Scott Pilkington</h5>
                <p class="card-text">
                    South Island<br>
                    Sales and Service<br>
                    
                </p>
                <div class="card-social">
                    <a href="mailto:scott@qtec.nz"><i class="fas fa-envelope-square fa-lg"></i>&nbsp;scott@qtec.nz</a><br>
                    <a href="tel:0274844078"><i class="fas fa-phone-square fa-lg"></i>&nbsp;0274&nbsp;844&nbsp;078</a>
                </div>
            </div>
        </div>
        <div class="card team-card">
            <img class="card-img-top" src="https://www.w3schools.com/howto/img_avatar.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Paul Taylor</h5>
                <p class="card-text">North Island<br>Sales and Service</p>
                <div class="card-social">
                    <a href="mailto:paul@qtec.nz"><i class="fas fa-envelope-square fa-lg"></i>&nbsp;paul@qtec.nz</a><br>
                    <a href="tel:0224542050"><i class="fas fa-phone-square fa-lg"></i>&nbsp;0224&nbsp;542&nbsp;050</a>
                </div>
            </div>
        </div>
        <div class="card team-card">
            <img class="card-img-top" src="https://www.w3schools.com/howto/img_avatar.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Luke Fisken</h5>
                <p class="card-text">Sales and Service Technician</p>
                <div class="card-social">
                    <a href="mailto:luke@qtec.nz"><i class="fas fa-envelope-square fa-lg"></i>&nbsp;luke@qtec.nz</a><br>
                    <a href="tel:02102790360"><i class="fas fa-phone-square fa-lg"></i>&nbsp;0210&nbsp;279&nbsp;0360</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>