@import 'base';
@import 'variables';

.contact-container{
  background-color: $grey-light;
  width: 100%;
}


.contact-form{
  
  width: 50%;
  padding: 5%;
  margin-right: 20px;
}
#contact 
{
  margin-right: 10%;
  margin-left: 10%;
  font-family:$font-primary;

}
