.grid-container{
  border: 2px red solid;
  display: grid;
  grid-template-columns: auto 60% auto;
  grid-template-rows: 50px;
 
  
}
.grid-item-1{
  justify-self: center;

}
.grid-item-2{
  
}
.grid-item-3{
  justify-self: center;

  a{
   
    color: white;
  }
  
}

.footer-top{
  background-color: $grey;
  color: white;
}

.footer-bottom{
  //display: grid;
  //grid-template-columns:  50px auto 50px;
  
  height: 35px;
  background-color: $grey-dark;
  color: white;
}
.footer-bottom-left{
  //border: 3px solid greenyellow;
  padding:0px;
}
.footer-bottom-center{
  //border: 1px solid blue;
  width:80%;
  padding: 0px;
}
.footer-bottom-right{
  //border: 1px solid red;
  text-align: right;
  padding: 0px;
}