//FONTS

$font-primary:  'Merriweather Sans', sans-serif;
$font-hero-image: 'Catamaran', sans-serif;
$font-header-nav: 'Oswald', sans-serif;
$font-footer: 'Arial', sans-serif;

//COLORS

$red-primary: #ff3232;